--extra-index-url https://download.pytorch.org/whl/cu126
aifactory
git+https://github.com/huggingface/transformers.git
diffusers
datasets
opencv-python==4.10.0.82
numpy>=1.26.0,<2.0.0
scikit-learn
scipy
pathlib
dlib
torch==2.7.1
torchvision==0.22.1
torchaudio
ultralytics
supervision
huggingface_hub
evaluate
accelerate
imbalanced-learn
wandb